.footer-link {
  color: white;
  text-shadow: 5px 5px 8px #0e0e35;
  padding: 0rem 1.5rem;
  margin: 1.5rem 0rem;
  border-right: 3px solid white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-link:visited {
  color: white
}

.footer-link:hover {
  color: gray;
  transition: 0.5s
}

#footer {
  background-color:#3f3f9c;
  margin-top: 4rem;
  border-top: 3px solid white;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-creator {
  padding: 0rem 1.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}