body {
  background-color: #080783;
  font-family: "ITC Korinna"
}

h1, h2, h3, h4, h5, p {
  color: #ffffff;
  font-family: "ITC Korinna";
  text-align: center;
  text-shadow: 5px 5px 8px black;
}

p {
  font-size: 200%;
}

label {
  color: white;
  font-weight: 900;
}

form {
  text-align: center;
}

em {
  color: white;
}

ul {
  list-style: none;
}

input#answer {
  border: solid white 1px;
  border-radius: 5px;
  min-width: 250px;
  font-size: 125%;
  font-weight: 900;
}

.flash-notice, .flash-alert {
  background-color: #3f3f9c;
  color: white;
  text-align: center;
}

.category-tub, .question-tub {
  border: solid white 3px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #0e0e35;
  text-shadow: 3px 3px 5px black;
  width: 50%;
  height: 15rem;
  text-align: center;
  margin: 2rem auto;
  background-color: #3f3f9c;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 2rem;
}

.question-tub {
  font-size: 1.5rem
}

.gb-category-tub, .gb-question-tub {
  border: solid white 3px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #0e0e35;
  width: 17%;
  height: 8rem;
  margin: 1rem auto;
  background-color: #3f3f9c;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0.5rem;
  box-sizing: unset;
}

.gb-category-text {
  font-size: 1.1rem;
}

.button {
  font-weight: 900;
  font-size: 125%;
  border: solid white 3px;
  border-radius: 5px;
  background-color: #3f3f9c;
  box-shadow: 10px 10px 10px #0e0e35;
  user-select: none;
  margin: 0.5rem 1rem;
  min-width: 50%;
}

.button:focus {
  background-color: #44449f
}

.button:hover {
  background-color: white;
  color: black;
}

.button-container {
  display: inline;
  width: 45%;
}

.start-game {
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 150%;
}

.start-game-button-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.form-container {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.modal {
  width: 90%;
  height: 90%;
  background-color: #3f3f9c;
  border: solid white 3px;
  transition: 1.1s ease-in-out;
  box-shadow: 10px 10px 10px #0e0e35;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#modal-form {
  min-width: 250px;
}

.grid-container, .top-bar {
  background-color: #3f3f9c;
  border-bottom: solid white 3px;
  max-width: 100%;
  height: 7rem;
  font-size: 1.5625rem;
}

.grid-container {
  border-bottom: solid white 3px;
}

.link-wrapper {
  padding-left: 2rem;
}

.random-welcome {
  margin-top: 2rem;
}

.sign-wrapper {
  padding-right: 2rem;
}

.welcome-text-container {
  margin: 3rem;
  padding: auto;
}

.sign-in-sign-up-sign-out {
  text-align: right;
}

.intro-text {
  margin-bottom: 2rem;
  text-shadow: 10px 10px 7px #0e0e35;
}

.field {
  width: 35%;
  margin: auto;
  text-align: left;
}

.sign-up, .sign-in, .forgot {
  margin-top: 2rem;
}

.new_user {
  align-items: center;
}

.page-link, .page-link:visited {
  color: white;
  font-family: "ITC Korinna";
  font-weight: 900;
  font-size: 125%;
  text-shadow: 5px 5px 8px black;
}

.main-page {
  color: white;
}

.page-link:hover {
  color: gray;
  transition: 0.5s;
}

.main-page:hover {
  color: gray;
  transition: 0.5s;
}

.main-link-wrapper {
  text-align: center;
}

.home-link-wrapper {
  display: flex;
  justify-content: center;
}

.home-link {
  color: white;
  font-weight: 900;
}

.home-link:hover {
  color: gray;
  transition: 0.5s;
}

.score-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#modalClue {
  min-width: 50%;
}

#error_explanation {
  color: white
}

#answer-label {
  text-align: center;
  font-size: 125%;
}

#score {
  margin: 1.75rem 1.0rem 1.0rem 1.0rem;
  width: 30%;
  border: solid white 3px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #0e0e35;
  background-color: #3f3f9c;
  font-size: 200%
}

#random-answer {
  font-size: 125%;
}

#continue-button {
  min-width: 150px;
  max-width: 150px;
}

#sign-up, #sign-in, #forgot {
  min-width: 15%;
}