input#answer {
  border: solid white 1px;
  border-radius: 5px;
  min-width: 250px;
  font-size: 125%;
  font-weight: 900;
}

.random-welcome {
  margin-top: 2rem;
}

.category-tub, .question-tub {
  border: solid white 3px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #0e0e35;
  text-shadow: 3px 3px 5px black;
  width: 50%;
  height: 15rem;
  text-align: center;
  margin: 2rem auto;
  background-color: #3f3f9c;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 2rem;
}

.question-tub {
  font-size: 1.5rem
}

#random-answer {
  font-size: 125%;
}